*.vsidx
*.dll
*.exe
*.pdb
*.exe
*.cache
*.dll
*.editorconfig
*.cache
*.pdb
*.cache
*.dll
*.v2

*.bin
*.vsidx

*.json
*.v2
*.v2
*.dll
*.exe
*.pdb
*.exe
*.cache
*.dll
*.pdb
*.json
*.dll
*.dll
*.exe
*.pdb
*.exe
*.cache
*.dll
*.pdb
backend/.vs/Backend/v17/.suo
backend/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
backend/obj/Debug/net8.0/backend.AssemblyInfo.cs
backend/obj/Debug/net8.0/backend.csproj.BuildWithSkipAnalyzers
backend/obj/Debug/net8.0/backend.csproj.FileListAbsolute.txt
backend/obj/Debug/net8.0/backend.GlobalUsings.g.cs
backend/obj/Debug/net8.0/backend.MvcApplicationPartsAssemblyInfo.cs
backend/obj/Debug/net8.0/staticwebassets/msbuild.build.backend.props
backend/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.backend.props
backend/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.backend.props
*.dll
